/* =============================================== */
/* Font Import */
/* =============================================== */
@font-face {
  font-family: 'FloodStd';
  src: url('../fonts/FloodStd.otf');
  font-style: normal;
  font-weight: normal;
}

/* =============================================== */
/* Reset */
/* =============================================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #354463;
}

a:link,
a:visited {
  color: #354463;
}

/* =============================================== */
/* Common */
/* =============================================== */
.btn {
  background-color: #c1f7d5;
  color: #354463;
  border-radius: 10rem;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  min-width: 1.6rem;
  height: 4.8rem;
  padding: 0 1.8rem;
  white-space: nowrap;
}

.btn--blue {
  background-color: #354463;
  color: #c1f7d5;
}

.stylized-text__container {
  max-width: 50rem;
  margin-bottom: 5rem;
}

.stylized-text__container--fluid {
  max-width: 85rem;
}

.stylized-text {
  font-family: FloodStd;
  color: #ffffff;
}

.stylized-text--blue {
  color: #354463;
}

.stylized-text--big {
  font-size: 7.2rem;
}

.stylized-text--small {
  font-size: 4.4rem;
}

.pill-container--overlapped {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -1.5rem;
  z-index: 100;
}

.pill-container--padded {
  padding-left: inherit;
}

.pill-container--self-padded {
  padding-left: 6.4rem;
}

.pill-container--centered {
  display: flex;
  justify-content: center;
}

.pill {
  width: 16rem;
  padding: 0.6rem 1.6rem;
  font-style: 1.4rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.pill--blue {
  background-color: #354463;
  color: #ffffff;
}

.pill--white {
  background-color: #ffffff;
  color: #000000;
}

.container {
  position: relative;
  object-fit: cover;
}

.inner-container {
  padding: 0 16rem;
}

.inner-container__content {
  display: flex;
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
}

.inner-container__content__block:not(:last-child) {
  margin-right: 15.5rem;
}

@media (max-width: 1350px) {
  .inner-container__content__block:not(:last-child) {
    margin-right: 9.5rem;
  }
}

@media (max-width: 1250px) {
  .stylized-text__container {
    max-width: 18rem;
  }

  .stylized-text__container--fluid {
    max-width: 85rem;
  }

  .stylized-text--big {
    font-size: 4.4rem;
  }

  .pill-container--padded {
    padding-left: 6.4rem;
  }

  .inner-container {
    padding: 8rem 6.4rem;
  }

  .inner-container__content__block:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 950px) {
  .inner-container__content__block:nth-child(1) {
    margin-bottom: 8rem;
  }
}

@media (max-width: 850px) {
  .btn {
    height: 4rem;
  }

  .stylized-text__container--fluid {
    text-align: center;
  }

  .pill-container {
    display: flex;
    justify-content: center;
  }

  .pill-container--padded {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .pill-container--self-padded {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .inner-container {
    padding: 3.2rem;
  }
}

/* =============================================== */
/* Nav */
/* =============================================== */
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12.8rem;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 7rem;
}

.nav__logo {
  font-size: 2.2rem;
  font-weight: bold;
  color: #354463;
}

.nav__links {
  display: flex;
}

.nav__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav__link:not(:last-child) {
  margin-right: 13rem;
}

@media (max-width: 1350px) {
  .nav {
    flex-direction: column;
  }

  nav .inner-container {
    padding-top: 2rem;
    padding-bottom: 1.6rem;
  }

  .nav__logo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 850px) {
  .nav__container {
    flex-direction: column;
    padding: 4rem 0;
    height: 20rem;
  }

  .nav {
    margin-right: 0;
    margin-bottom: 2rem;
    flex-direction: row;
  }

  .nav__logo {
    font-size: 1.8rem;
  }

  .nav__links {
    flex-direction: column;
  }

  .nav__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .nav__btn,
  .nav__btn > .btn {
    width: 100%;
  }
}

/* =============================================== */
/* Banner */
/* =============================================== */
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner__card {
  position: relative;
  max-width: 74.4rem;
  background-color: #ffffff;
  padding: 7.5rem 6.4rem;
}

.banner__card__text {
  font-size: 4.4rem;
  margin-bottom: 2.8rem;
}

@media (max-width: 1450px) {
  .banner__card {
    max-width: 74.4rem;
  }
}

@media (max-width: 1320px) {
  .banner__card {
    max-width: 104.4rem;
  }
}

@media (max-width: 1250px) {
  .banner__content {
    flex-direction: column-reverse;
  }

  .banner__card {
    max-width: 100%;
    padding: 6.4rem;
  }

  .banner__card__text {
    font-size: 3.6rem;
  }
}

@media (max-width: 850px) {
  .banner__card {
    padding: 3rem 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .banner__card__text {
    font-size: 2.2rem;
  }
}

/* =============================================== */
/* Banner Point Cards */
/* =============================================== */
.banner__point-cards {
  background-color: #c1f7d5;
}

.banner__point-card__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5.6rem;
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.banner__point-card__title {
  margin-bottom: 1rem;
}

.banner__point-card__body {
  line-height: 1.6;
}

@media (max-width: 1250px) {
  .banner__point-card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .banner__point-card__container {
    gap: 3.6rem;
  }
}

/* =============================================== */
/* Work */
/* =============================================== */
.work {
  background-color: #354463;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

.work__heading {
  margin-top: 4rem;
  margin-bottom: 10rem;
  font-size: 2.4rem;
  color: #ffffff;
}

.work__card__container {
  display: flex;
  justify-content: space-between;
}

.work__card {
  position: relative;
  background-color: #ffffff;
  padding: 3.2rem;
  padding-top: 18rem;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.work__card:not(:last-child) {
  margin-right: 6.4rem;
}

.work__card__img > img {
  position: absolute;
  top: -3.2rem;
  right: -3.2rem;
  width: 100%;
  height: 22.4rem;
  object-fit: cover;
}

.work__card__title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.work__card__body {
  line-height: 1.6;
}

.work__card__btn {
  margin-top: 2rem;
}

@media (max-width: 1250px) {
  .work {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .work__card__container {
    flex-direction: column;
  }

  .work__card {
    max-width: 100%;
    padding-top: 3.2rem;
  }

  .work__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6.4rem;
  }

  .work__card__img > img {
    max-width: 32rem;
    left: 3.2rem;
  }

  .work__card__info {
    display: flex;
    flex-direction: row-reverse;
  }

  .work__card__btn,
  .work__card__header {
    width: 50%;
  }

  .work__card__btn {
    padding-top: 16rem;
    padding-right: calc(50% - 32rem);
    text-align: right;
  }
}

@media (max-width: 900px) {
  .work__card__img > img {
    max-width: 28rem;
  }

  .work__card__btn {
    padding-right: calc(50% - 28rem);
  }
}

@media (max-width: 850px) {
  .work__heading {
    font-size: 1.8rem;
    text-align: center;
  }

  .work__card {
    padding-top: 18rem;
  }

  .work__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6.4rem;
  }

  .work__card__img {
    padding: 0 inherit;
  }

  .work__card__img > img {
    max-width: calc(100% - 3.2rem);
    left: 50%;
    transform: translateX(-50%);
  }

  .work__card__info {
    display: block;
  }

  .work__card__body {
    font-size: 1.4rem;
  }

  .work__card__btn,
  .work__card__header {
    width: auto;
    text-align: center;
  }

  .work__card__btn {
    padding-top: 0;
    padding-right: 0;
  }
}

/* =============================================== */
/* Facts */
/* =============================================== */
.facts__card__container {
  display: flex;
  justify-content: space-between;
}

.facts__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.facts__card {
  position: relative;
  background-color: #ffffff;
  padding: 5.6rem;
  display: flex;
}

.facts__card:not(:last-child) {
  margin-bottom: 3.2rem;
}

.facts__card__content {
  margin-right: 2rem;
}

.facts__card__title {
  margin-bottom: 1rem;
}

.facts__card__body {
  line-height: 1.6;
}

.facts__card__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facts__card__icons__container {
  background-color: #c1f7d5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
}

.facts__card__icons__container:not(:last-child) {
  margin-bottom: 2rem;
}

@media (max-width: 950px) {
  .facts__card__container {
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  .facts__card {
    padding: 3.6rem;
  }
}

/* =============================================== */
/* Stories */
/* =============================================== */
.stories {
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
}

.stories__container {
  position: relative;
  display: flex;
  align-items: center;
}

.stories__card {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #354463;
  color: #ffffff;
  padding: 6.4rem;
}

.stories__card__quotedby {
  margin-top: 2.8rem;
  font-size: 1.4rem;
}

.stories__btn {
  position: absolute;
  bottom: 0;
}

.stories__img {
  position: relative;
  margin-left: -6.4rem;
}

@media (max-width: 1300px) {
  .stories {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  .stories__container {
    flex-direction: column-reverse;
    align-items: initial;
  }

  .stories__content {
    padding-left: 6.4rem;
    margin-top: -6.4rem;
  }

  .stories__btn {
    margin-top: 2.5rem;
    position: static;
  }

  .stories__img {
    margin-left: 0;
  }
}

@media (max-width: 850px) {
  .stories__content {
    padding-left: 0;
    margin-top: 2rem;
  }
  .stories__content,
  .stories__btn {
    text-align: center;
  }

  .stories__card {
    padding: 3.2rem;
  }

  .stories__img > img {
    width: 100%;
  }
}

/* =============================================== */
/* Action */
/* =============================================== */
.action {
  padding-top: 12.8rem;
  padding-bottom: 11rem;
  background-color: #354463;
}

.action__container {
  display: flex;
  flex-direction: column;
}

.action__card {
  display: flex;
}

.action__card:not(:last-child) {
  margin-bottom: 6rem;
}

.action__card > .action__card__content:last-child,
.action__card > .action__card__img:last-child {
  margin-left: 10rem;
}

.action__pill--mobile {
  display: none;
}

.action__card__img,
.action__card__content {
  max-width: 50%;
}

.action__card__img {
  position: relative;
}

.action__card__img > img {
  max-width: 100%;
}

.action__card__title,
.action__card__body {
  color: #ffffff;
}

.action__card__title {
  margin-top: 4.8rem;
  margin-bottom: 2.2rem;
}

.action__card__body {
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

@media (max-width: 1250px) {
  .action {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 850px) {
  .action__card {
    flex-direction: column;
    align-items: center;
  }

  .action__card:nth-child(2) {
    flex-direction: column-reverse;
  }

  .action__card > .action__card__content:last-child,
  .action__card > .action__card__img:last-child {
    margin-left: 0;
  }

  .action__card__title,
  .action__card__body,
  .action__card__btn {
    text-align: center;
  }

  .action__card__img,
  .action__card__content {
    max-width: 100%;
  }

  .action__pill--tablet {
    display: none;
  }

  .action__pill--mobile {
    display: flex;
  }
}

/* =============================================== */
/* Newsletter */
/* =============================================== */
.newsletter {
  background-color: #c1f7d5;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.newsletter__container {
  display: flex;
}

.newsletter__form__container {
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
}

.newsletter__input {
  margin-right: 3.2rem;
  border-radius: 2.4rem;
  border: none;
  height: 4.8rem;
  padding: 0 2.4rem;
}

@media (max-width: 1250px) {
  .newsletter {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .newsletter__container {
    flex-direction: column;
  }

  .newsletter__form__container {
    margin-left: 0;
    margin-top: 3.2rem;
  }
}

@media (max-width: 480px) {
  .newsletter__input {
    margin-right: 1rem;
    max-width: 16.4rem;
  }
}

/* =============================================== */
/* Footer */
/* =============================================== */
.footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

.footer__nav__heading {
  text-transform: uppercase;
  border-bottom: 0.1rem solid #354463;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.footer__nav__link:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (max-width: 1350px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__logo {
    grid-column: span 2;
  }

  .footer__nav:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .footer__nav:nth-child(4) {
    grid-column: 5;
  }

  .footer__slogan {
    grid-column: 5;
    grid-row: 2;
  }
}

@media (max-width: 850px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__logo {
    grid-column: span 1;
  }

  .footer__nav:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .footer__nav:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }

  .footer__slogan {
    grid-column: 2;
    grid-row: 3;
  }
}
